/* Resets */
:root {
  --green: #66b933;
  --green-alfa-25: rgba(102, 185, 51, 0.5);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 0.1em;
}
/* Global stylings */
body {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: grid;
  border-radius: 15px;
  justify-content: center;
  justify-items: center;
}
form {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  padding: 20px;
}
form label {
  margin: 1%;
  display: flex;
  justify-content: space-between;
}
input {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 5px;
}
form select,
form option {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 120px;
  color: black;
  margin-left: 6px;
  align-self: center;
  padding: 5px;
}
form input[type="submit"] {
  align-self: center;
  margin-top: 1.2em;
  padding: 20px;
  font-size: 1em;
}
form input[type="submit"]:hover {
  background-color: #aaa;
  cursor: pointer;
}
form #fail_text {
  color: rgb(203, 9, 9);
}
.link {
  margin-bottom: 5%;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1em;
}

/* Page specific stylings */

/* Profile */

#profile {
  background-color: white;
  height: 70vh;
  width: 50vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 50px;
  border-radius: 15px;
}

#profile h1 {
  padding-bottom: 20px;
}

#profile button {
  background-color: black;
  border-radius: 15px;
  padding: 1em;
  cursor: pointer;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#back-to-matches-btn {
  height: 150%;
  width: 100%;
}

#adm_btns a{
  margin-right: 20px;
}

/* Update */

/* Match */

#profile-btn-article {
  position: absolute;
  left: 13%;
  top: 16%;
}

#profile-button,
#index-button {
  text-align: center;
  text-decoration: none;
  background-color: black;
  padding: 1em 2em;
  border-radius: 5px;
  color: white;
}

.wrapper {
  display: flex;
  height: 80vh;
  width: 60vw;
  background-color: black;
  box-shadow: 17px 17px 50px 0px #4f9b21;
}

.info {
  height: 100%;
  width: 40%;
  background-color: white;
}

/*#match-info > * {
  margin-top: 8%;
}*/

.info article {
  padding-left: 20%;
}

.info article:first-child {
  padding-top: 10%;
}

.name_div {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.details {
  display: flex;
  margin-top: 2%;
  gap: 5%;
}

.image {
  height: 100%;
  width: 50%;
  background-color: yellow;
}

.description-tag {
  padding-left: 15%;
  color: var(--green);
  margin-top: 10%;
  margin-bottom: 3%;
  letter-spacing: 0.15em;
}

.description-tag:first-child {
  padding-top: 10%;
}

.interests {
  display: flex;
  gap: 2%;
}

#match-nav {
  height: 100%;
  width: 10%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#match_next-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: var(--green);
  padding: 20% 30%;
  border-radius: 5px;
}

.image img {
  width: 100%;
  height: 100%;
}
